PRÁCTICAS DE CONDICIONALES (IF ELSE ELIF, CON METODO APPLY) EN PYTHON

EJERCICIO  1:

**Usa bucle for:**

###### Supongamos que tenemos un dataframe "ventas" con información de ventas de productos, 
y queremos crear una nueva columna "rentable" que indique si cada venta fue rentable o no.
___
- Podemos hacerlo utilizando la instrucción "if" y "else" dentro de un loop "for" para iterar sobre cada fila del dataframe y evaluar una condición basada en 
el valor de una columna existente. Por ejemplo:

In [4]:
import pandas as pd

# Crear dataframe de ejemplo
ventas = pd.DataFrame({
    'producto': ['A', 'B', 'C', 'D', 'E'],
    'precio': [100, 200, 150, 300, 250],
    'costo': [70, 150, 120, 250, 200],
    'cantidad': [10, 5, 8, 3, 6]
})

# calculo de ganancia
ventas['ganancia'] = ventas['precio'] - ventas['costo']

In [5]:
print(ventas)

  producto  precio  costo  cantidad  ganancia
0        A     100     70        10        30
1        B     200    150         5        50
2        C     150    120         8        30
3        D     300    250         3        50
4        E     250    200         6        50

In [6]:
# Crear columna vacia "rentable"
ventas['rentable'] = ''

# Iterar sobre cada fila del dataframe
for index, row in ventas.iterrows():
    # Calcular la ganancia por unidad
    ganancia = row['precio'] - row['costo']
    # Asignar 'Sí' o 'No' a la columna "rentable" según la ganancia por unidad
    if ganancia >= 50:
        ventas.at[index, 'rentable'] = 'Sí'
    else:
        ventas.at[index, 'rentable'] = 'No'

# Imprimir el dataframe con la columna "rentable" agregada
print(ventas)

  producto  precio  costo  cantidad  ganancia rentable
0        A     100     70        10        30       No
1        B     200    150         5        50       Sí
2        C     150    120         8        30       No
3        D     300    250         3        50       Sí
4        E     250    200         6        50       Sí

Lo que se esta haciendo: 
    
- iteramos sobre cada fila del dataframe utilizando el método "iterrows()" de Pandas. 




___
- Dentro del loop "for", calculamos la ganancia por unidad **(precio - costo)** para cada venta y utilizamos una instrucción "if" para evaluar si la ganancia por unidad es mayor o igual a 50. 

   1. Si lo es, asignamos el valor 'Sí' a la columna "rentable" para esa fila; 
   
   2. De lo contrario, asignamos el valor 'No'.




___
- Finalmente, imprimimos el dataframe con la columna "ganancia"  y  "rentable" agregada.

   Cada fila de la columna "rentable" indica si la venta correspondiente fue rentable ('Sí') o no ('No').

EJERCICIO 2:

**Usando Funcion  def ( adentro el if else elif), y aplicando la funcion Def a la data mediante 
función apply**

Por ejemplo, si queremos asignar el nivel de salario de cada empleado de acuerdo a la 
siguiente lógica:

- Salario menor a 25000: "Bajo"
- Salario entre 25000 y 34999: "Medio"
- Salario mayor o igual a 35000: "Alto"

In [11]:
import pandas as pd

# Crear dataframe de ejemplo
empleados = pd.DataFrame({
    'nombre': ['Ana', 'Pedro', 'Luis', 'María', 'José'],
    'salario': [25000, 30000, 20000, 40000, 50000]
})

print(empleados)

  nombre  salario
0    Ana    25000
1  Pedro    30000
2   Luis    20000
3  María    40000
4   José    50000

In [12]:
# Definir función que asigna el nivel de salario de acuerdo a ciertas condiciones
def asignar_nivel(salario):
    if salario < 25000:
        return "Bajo"
    elif salario >= 25000 and salario <= 34999:
        return "Medio"
    else:
        return "Alto"

In [15]:


# Aplicar la función a la columna "salario" del dataframe para crear la columna "nivel"
empleados['nivel'] = empleados['salario'].apply(asignar_nivel)

# Imprimir el dataframe con la columna "nivel" agregada
print(empleados)

  nombre  salario  nivel
0    Ana    25000  Medio
1  Pedro    30000  Medio
2   Luis    20000   Bajo
3  María    40000   Alto
4   José    50000   Alto

1.Definimos una función asignar_nivel() que asigna el nivel de salario de acuerdo a ciertas 
condiciones. 
- Dentro de esta función, utilizamos condicionales if-elif-else para determinar el nivel 
de salario de acuerdo a la lógica que especificamos.
___
2.Después, utilizamos el :

- método apply() 
De pandas para aplicar la **función asignar_nivel()** a la columna
"salario" del dataframe "empleados" y crear la columna "nivel". La función se aplica a cada elemento de la columna "salario" y devuelve el nivel correspondiente, que se almacena en la columna "nivel".
___
3-., imprimimos el dataframe con la columna "nivel" agregada.

EJERCICIO 3:

Por ejemplo, si queremos asignar el nivel de salario de cada empleado de acuerdo a la siguiente lógica:

- Salario menor a 25000: "Bajo"
- Salario entre 25000 y 34999: "Medio"
-  mayor o igual a 35000: "Alto"

In [19]:
import pandas as pd

# DATAFRAME
empleados = pd.DataFrame({
    'nombre': ['Ana', 'Pedro', 'Luis', 'María', 'José'],
    'salario': [25000, 30000, 20000, 40000, 50000]
})

# Aplicar if-else-elif a cada fila del dataframe utilizando apply y una función lambda
empleados['nivel'] = empleados['salario'].apply(lambda x: "Bajo"
                                                if x < 25000 else "Medio" if x < 35000 else "Alto")

# Imprimir el dataframe con la columna "nivel" agregada
print(empleados)

  nombre  salario  nivel
0    Ana    25000  Medio
1  Pedro    30000  Medio
2   Luis    20000   Bajo
3  María    40000   Alto
4   José    50000   Alto

1. Utilizamos la función apply() junto con una función lambda:

- para aplicar la lógica de los condicionales al dataframe de manera más simplificada. 
___
2. En la función lambda, simplemente evaluamos :
- Si el salario es menor que 25000 y, en ese caso, asignamos el valor "Bajo" a la columna "nivel". 
___
- Si el salario es mayor o igual a 25000 y menor a 35000, asignamos el valor "Medio", y en caso 
contrario, asignamos "Alto".