**<font color='blue'>Aprendiendo a trabajar con texto, string en python</font>**

**<span style="color:green;">filtra los valores que comienzan por PA en la columna codigo postal</span>**

In [ ]:
import pandas as pd

# Creamos un DataFrame de ejemplo
data = {'ciudad': ['Lima', 'Arequipa', 'Trujillo', 'Piura'],
        'código postal': ['PA145', 'PE321', 'PA205', 'PE408']}
df = pd.DataFrame(data)

In [12]:
df_filtrado = df[df['código postal'].str.startswith('PA')]

In [13]:
df_filtrado

     ciudad código postal
0      Lima         PA145
2  Trujillo         PA205

## Filtrar las filas que contienen "mining" en la columna "texto"





**<span style="color:green;">Con case:ignorar las mayúsculas/minúsculas al hacer la búsqueda, puedes agregar el argumento case=False a 
la función str.contains().</span>**

In [ ]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'texto': ['La minería es una industria importante', 
                  'El equipo de minería es muy caro', 
                  'La agricultura es más rentable que la minería']}
df = pd.DataFrame(data)

# Filtrar las filas que contienen "mining" en la columna "texto" sin tener en cuenta las mayúsculas/minúsculas
df_filtrado = df[df['texto'].str.contains('mining', case=False)]

# Mostrar el DataFrame filtrado
print(df_filtrado)

In [ ]:
 eliminar los ceros a la izquierda de una columna numérica en un dataframe en Python


**<span style="color:green;"> Eliminar los ceros a la izquierda de una columna numérica en un dataframe en Python .</span>**

 puedes utilizar el método lstrip junto con la función apply para aplicar la eliminación a cada elemento de la columna.

In [18]:
import pandas as pd

# Crear un dataframe de ejemplo
df = pd.DataFrame({'numeros': ['000123', '045610', '078950', '010140']})
df

  numeros
0  000123
1  045610
2  078950
3  010140

In [16]:
# Eliminar los ceros a la izquierda de la columna 'numeros'
df['numeros'] = df['numeros'].apply(lambda x: x.lstrip('0'))

# Imprimir el dataframe resultante
print(df)

  numeros
0     123
1   45610
2   78950
3   10140

##### Reemplazar en una columna que contiene una palabra por otra cadena ( palabra)**



**<span style="color:green;">columna "Ciudad" hay palabras que contienen 
"PA" en mayúsculas. Para reemplazarlas por "ID", podemos usar 
la función replace() de la siguiente manera:
</span>**

In [30]:
import pandas as pd

datos = {'Nombre': ['Ana', 'Juan', 'Pedro', 'María'],
         'Edad': [23, 35, 41, 29],
         'Ciudad': ['PAris', 'madrid', 'PAmplona', 'BarceLOna']}

df = pd.DataFrame(datos)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23      PAris
1   Juan    35     madrid
2  Pedro    41   PAmplona
3  María    29  BarceLOna

En este caso, **regex=True** es un parámetro opcional en el método replace() de pandas que 
indica que la cadena de búsqueda 'PA' es una expresión regular en lugar de una cadena literal.

Una expresión regular (también conocida como regex) es una secuencia de caracteres que define un
patrón de búsqueda. Al establecer regex=True, pandas buscará la cadena 'PA' como un patrón regex y 
reemplazará todas las coincidencias que encuentre en la columna 
'Ciudad'

In [23]:
df['Ciudad'] = df['Ciudad'].replace('PA', 'ID', regex=True)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23      IDris
1   Juan    35     madrid
2  Pedro    41   IDmplona
3  María    29  BarceLOna

In [31]:
import pandas as pd



# Reemplazar cualquier valor en la columna "Ciudad" que contenga "PA" con "ID"
df.loc[df['Ciudad'].str.contains('PA'), 'Ciudad'] = 'ID'

# Imprimir el DataFrame actualizado
print(df)

  Nombre  Edad     Ciudad
0    Ana    23         ID
1   Juan    35     madrid
2  Pedro    41         ID
3  María    29  BarceLOna

In [ ]:



df['Ciudad'] = df['Ciudad'].str.replace('PA', 'ID')
print(df)

## Otra manera de hacer lo mismo ( lo anterior)

In [37]:
import pandas as pd

datos = {'Nombre': ['Ana', 'Juan', 'Pedro', 'María'],
         'Edad': [23, 35, 41, 29],
         'Ciudad': ['PAris', 'madrid', 'PAmplona', 'BarceLOna']}

df = pd.DataFrame(datos)
print(df)

  Nombre  Edad     Ciudad
0    Ana    23      PAris
1   Juan    35     madrid
2  Pedro    41   PAmplona
3  María    29  BarceLOna

En lugar de utilizar el método replace() de Pandas con expresiones regulares, también podrías 
utilizar el método str.replace() de Pandas para reemplazar los valores de la columna "Ciudad" 
por un valor específico.

La función **str.replace()** es un método de Python que se utiliza para reemplazar todas las ocurrencias 
de una subcadena dentro de una cadena por otra subcadena especificada.

In [38]:
df['Ciudad'] = df['Ciudad'].str.replace('PA', 'ID')
print(df)

  Nombre  Edad     Ciudad
0    Ana    23      IDris
1   Juan    35     madrid
2  Pedro    41   IDmplona
3  María    29  BarceLOna

Concatenar 2 columnas de un dataframe

Supongamos que tienes un dataframe llamado df con columnas nombre y apellido, y quieres crear una nueva columna nombre_completo que contenga la concatenación de ambas:

In [39]:
import pandas as pd

# Creamos un ejemplo de dataframe
df = pd.DataFrame({
    'nombre': ['Juan', 'María', 'Pedro'],
    'apellido': ['Pérez', 'Gómez', 'Sánchez']
})

**<span style="color:green;">
Concatenar 2 columnas de dataframe
</span>**

Supongamos que tienes un dataframe llamado df con columnas nombre y apellido, y quieres crear una nueva columna nombre_completo que contenga la concatenación de ambas:

**sep=' ': ** Esto especifica que queremos concatenar los valores en las columnas "nombre" y "apellido" usando un espacio como separador.

**.str:**  Esto convierte los valores de la columna en cadenas, lo que nos permite usar métodos de manipulación de cadenas.
.cat: Este es un método de cadena en Pandas que concatena cadenas.